@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<br />
<br />

<div class="row">
    <div class="col-12" id="policyContentDiv">
        <table class="table table-bordered table-sm">
            <tr style="background-color:lightgray;">
                <td>No.</td>
                <td>Hostname</td>
                <td>Permission Details</td>
            </tr>
            <tr>
                <td>1</td>
                <td>ISA000111</td>
                <td>Global Server Policy</td>
            </tr>
        </table>
    </div>
</div>
